.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 0.5rem;
}
.row{
  display: flex;
  // flex-wrap: wrap;
  // margin-right: 0;
  // margin-left: 0;
  // [class*="col-"] {
  //      padding-left: 0 !important;
  //      padding-right: 0 !important;
  // }
}
.column {
  display: flex;
  flex-direction: column;
}
.column-reverse {
  display: flex;
  flex-direction: column-reverse;
}
// 横並び(軸=x)
.justify-content-start {
  justify-content: start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: end;
}
.justify-content-between {
  justify-content: space-between;
}
// 縦並び(軸=y)
.align-items-start {
  align-items: start;
}
.align-items-end {
  align-items: flex-end;
  // align-items: end;
}
.align-items-center {
  align-items: center;
}
// 折り返し
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
/*====================
Bootstrap flex系一覧
=====================*/
// .d-{*}-flex
// .d-{*}-inline-flex
// 方向・軸
// .flex-{*}-row
// .flex-{*}-row-reverse
// .flex-{*}-column
// .flex-{*}-column-reverse
// 横並び(軸=x)
// .justify-content-{*}-start
// .justify-content-{*}-end
// .justify-content-{*}-center
// .justify-content-{*}-between
// .justify-content-{*}-around
// 縦並び(軸=y)
// .align-items-{*}-start
// .align-items-{*}-end
// .align-items-{*}-center
// .align-items-{*}-baseline
// .align-items-{*}-stretch
// 改行
// .flex-{*}-nowrap
// .flex-{*}-wrap
// .flex-{*}-wrap-reverse
