.m-025{ margin: 0.25rem !important; }
.m-05{ margin: 0.5rem !important; }
// 左
.ml-025,
.mx-025{ margin-left: 0.25rem !important; }
.ml-05,
.mx-05{ margin-left: 0.5rem !important; }
// 右
.mr-025,
.mx-025{ margin-right: 0.25rem !important; }
.mr-05,
.mx-05{ margin-right: 0.5rem !important; }
// 上
.mt-025,
.my-025{ margin-top: 0.25rem !important; }
.mt-05,
.my-05{ margin-top: 0.5rem !important; }
// 下
.mb-025,
.my-025{ margin-bottom: 0.25rem !important; }
.mb-05,
.my-05{ margin-bottom: 0.5rem !important; }

@for $i from 0 through 10 {
.m-#{$i} { margin: $i * 1rem !important; }
.ml-#{$i},
.mx-#{$i} { margin-left: $i * 1rem !important; }
.mr-#{$i},
.mx-#{$i} { margin-right: $i * 1rem !important; }
.mt-#{$i},
.my-#{$i} { margin-top: $i * 1rem !important; }
.mb-#{$i},
.my-#{$i} { margin-bottom: $i * 1rem !important; }
}
